In [314]:
# movielens 100k
import pandas as pd
rating=pd.read_csv('dataset/ml-100k/u.data',sep='\t',names=['user_id','movie_id','rating','timestamp'])
rating=rating.drop('timestamp',axis=1)

In [315]:
#userinfo
userinfo=pd.read_csv('dataset/ml-100k/u.user',sep='|', names=['age','gender','occupation','zipcode'])

In [316]:
# need to check movie frequency and user frequency
# movieinfo
rating['movie_id'].value_counts()
# show movies where value count is more than 10
rating['movie_id'].value_counts()[rating['movie_id'].value_counts()>10]

# for every rating, i want to add column named 'movie_frequency' and 'user_frequency'

# add movie_frequency
rating['movie_frequency']=rating['movie_id'].map(rating['movie_id'].value_counts())
# add user_frequency
rating['user_frequency']=rating['user_id'].map(rating['user_id'].value_counts())

In [317]:
rating

       user_id  movie_id  rating  movie_frequency  user_frequency
0          196       242       3              117              39
1          186       302       3              297              92
2           22       377       1               13             128
3          244        51       2               81             238
4          166       346       1              126              20
...        ...       ...     ...              ...             ...
99995      880       476       3              160             368
99996      716       204       5              350             269
99997      276      1090       1               37             518
99998       13       225       2              109             636
99999       12       203       3              182              51

[100000 rows x 5 columns]

In [346]:
import copy
df=copy.deepcopy(rating)
a=copy.deepcopy(rating)

In [352]:
a.to_csv('original.csv')

In [319]:
df

       user_id  movie_id  rating  movie_frequency  user_frequency
0          196       242       3              117              39
1          186       302       3              297              92
2           22       377       1               13             128
3          244        51       2               81             238
4          166       346       1              126              20
...        ...       ...     ...              ...             ...
99995      880       476       3              160             368
99996      716       204       5              350             269
99997      276      1090       1               37             518
99998       13       225       2              109             636
99999       12       203       3              182              51

[100000 rows x 5 columns]

In [320]:
from copy import deepcopy
# function taht calculates the c value for each customer and product
# the higher beta means more weiht on the product frequency, the higher alpha means more weight on the customer frequency
def get_c(df, alpha=.5, beta=.5, gamma=.5, c_zero=.5):
    UF = np.array(df["user_frequency"].astype("float"), dtype=float)
    UF /= np.sum(UF)
    IF = np.array(df["movie_frequency"].astype("float"), dtype=float)
    IF /= np.sum(IF)
    Fs = alpha * beta * IF * UF
    Fs_gamma = Fs ** gamma
    c = Fs_gamma / np.sum(Fs_gamma)
    c = c_zero * c / np.max(c)
    c_appended_df = deepcopy(df)
    c_appended_df['c'] = c

    return c_appended_df

unique_customers = rating['user_id'].unique()
import numpy as np
import tqdm
not_purchased_df = pd.DataFrame()
ns_df_list = []
df['user_frequency'] = df.groupby('user_id')['user_id'].transform('count')
df['movie_frequency'] = df.groupby('movie_id')['movie_id'].transform('count')
#multiprocess
for customer in tqdm.tqdm(unique_customers):
    unique_products = df['movie_id'].unique()


    customer_frequency = df[df['user_id'] == customer]['user_frequency'].iloc[0]
    purchased_products = df[df['user_id'] == customer]['movie_id'].unique()

    #customer_birth_category = df[df['user_id'] == customer]['BIRTH_YEAR'].iloc[0]
    #customer_gender_category = df[df['user_id'] == customer]['GENDER'].iloc[0]

    not_purchased_df_all = df[~df['movie_id'].isin(purchased_products)]
    not_purchased_codes = not_purchased_df_all['movie_id'].unique()
    negative_sample_products=np.random.choice(not_purchased_codes, int(len(not_purchased_codes) *0.1),replace=False)
    ns_test=df[df['movie_id'].isin(negative_sample_products)][['movie_id','movie_frequency']]
    ns_test=ns_test.drop_duplicates(subset=['movie_id'],keep='first',inplace=False)
    ns_df=pd.DataFrame()

    ns_df['movie_id'] = negative_sample_products
    ns_df=ns_df.assign(user_id=customer)
    #ns_df['AUTH_CUSTOMER_ID'] = customer
    #ns_df=ns_df.assign(BIRTH_YEAR = customer_birth_category)
    #ns_df=ns_df.assign(GENDER= customer_gender_category)
    ns_df=ns_df.assign(user_frequency = customer_frequency)
    ns_df=ns_df.join(ns_test.set_index('movie_id'), on='movie_id')
    # not_purchased_df=pd.concat([not_purchased_df,ns_df],axis=0, ignore_index=True)
    ns_df_list += [ns_df]
not_purchased_df=pd.concat(objs=ns_df_list, axis=0, ignore_index=True)
# not_purchased_df["GENDER"] = not_purchased_df["GENDER"].replace("MALE", 0).replace("FEMALE", 1).astype("float")
# not_purchased_df = get_c(not_purchased_df, 0.5, 0.5, 0.5, 0.5) # please adjest weight
# not_purchased_df['target'] = 0

100%|██████████| 943/943 [00:09<00:00, 101.49it/s]

In [321]:
not_purchased_df=get_c(not_purchased_df,0.5,0.5,0.5,0.5)

In [322]:
not_purchased_df['target']=0

In [323]:
not_purchased_df

        movie_id  user_id  user_frequency  movie_frequency         c  target
0            416      196              39               64  0.044425       0
1           1582      196              39                1  0.005553       0
2           1043      196              39                8  0.015707       0
3            841      196              39               48  0.038473       0
4            785      196              39               39  0.034679       0
...          ...      ...             ...              ...       ...     ...
148176       378      941              22              101  0.041916       0
148177      1078      941              22               22  0.019563       0
148178       823      941              22               82  0.037768       0
148179       539      941              22               44  0.027666       0
148180       394      941              22               12  0.014448       0

[148181 rows x 6 columns]

In [324]:
rating['c']=1
rating['target']=1

In [325]:
rating.drop('rating',axis=1,inplace=True)

In [326]:
rating

       user_id  movie_id  movie_frequency  user_frequency  c  target
0          196       242              117              39  1       1
1          186       302              297              92  1       1
2           22       377               13             128  1       1
3          244        51               81             238  1       1
4          166       346              126              20  1       1
...        ...       ...              ...             ... ..     ...
99995      880       476              160             368  1       1
99996      716       204              350             269  1       1
99997      276      1090               37             518  1       1
99998       13       225              109             636  1       1
99999       12       203              182              51  1       1

[100000 rows x 6 columns]

In [327]:
# want to merge two dataframe rating and not_purchased_df but their columns sequence is different so we need to change the sequence
not_purchased_df=not_purchased_df[['user_id','movie_id','user_frequency','movie_frequency','c','target']]

In [328]:
rating

       user_id  movie_id  movie_frequency  user_frequency  c  target
0          196       242              117              39  1       1
1          186       302              297              92  1       1
2           22       377               13             128  1       1
3          244        51               81             238  1       1
4          166       346              126              20  1       1
...        ...       ...              ...             ... ..     ...
99995      880       476              160             368  1       1
99996      716       204              350             269  1       1
99997      276      1090               37             518  1       1
99998       13       225              109             636  1       1
99999       12       203              182              51  1       1

[100000 rows x 6 columns]

In [329]:
not_purchased_df

        user_id  movie_id  user_frequency  movie_frequency         c  target
0           196       416              39               64  0.044425       0
1           196      1582              39                1  0.005553       0
2           196      1043              39                8  0.015707       0
3           196       841              39               48  0.038473       0
4           196       785              39               39  0.034679       0
...         ...       ...             ...              ...       ...     ...
148176      941       378              22              101  0.041916       0
148177      941      1078              22               22  0.019563       0
148178      941       823              22               82  0.037768       0
148179      941       539              22               44  0.027666       0
148180      941       394              22               12  0.014448       0

[148181 rows x 6 columns]

In [330]:
rating=pd.concat([rating,not_purchased_df],axis=0,ignore_index=True)

In [331]:
rating

        user_id  movie_id  movie_frequency  user_frequency         c  target
0           196       242              117              39  1.000000       1
1           186       302              297              92  1.000000       1
2            22       377               13             128  1.000000       1
3           244        51               81             238  1.000000       1
4           166       346              126              20  1.000000       1
...         ...       ...              ...             ...       ...     ...
248176      941       378              101              22  0.041916       0
248177      941      1078               22              22  0.019563       0
248178      941       823               82              22  0.037768       0
248179      941       539               44              22  0.027666       0
248180      941       394               12              22  0.014448       0

[248181 rows x 6 columns]

In [332]:

# drop zip code and one hot encode gender and occupation in userinfo daframe
userinfo=userinfo.drop('zipcode',axis=1)

userinfo=pd.get_dummies(columns=['occupation'],data=userinfo)

In [333]:
userinfo

,age,gender,occupation_administrator,occupation_artist,occupation_doctor,occupation_educator,occupation_engineer,occupation_entertainment,occupation_executive,occupation_healthcare,...,occupation_marketing,occupation_none,occupation_other,occupation_programmer,occupation_retired,occupation_salesman,occupation_scientist,occupation_student,occupation_technician,occupation_writer
1,24,M,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,53,F,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
3,23,M,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,24,M,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
5,33,F,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,26,F,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
940,32,M,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
941,20,M,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
942,48,F,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
943,22,M,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [334]:
import numpy as np

In [335]:
userinfo 
# make user_id column as index
#userinfo=userinfo.set_index(np.array(sorted(rating['user_id'].unique())))
userinfo['user_id']=userinfo.index

In [336]:
# if gender is M then 1 else 0 in userinfo dataframe
temp=[]
for i in userinfo['gender']:
    if i=='M':
        i=1
    else:
        i=0
    temp.append(i)

In [337]:
userinfo['gender'] =temp

In [338]:
movieinfo=pd.read_csv('dataset/ml-100k/u.item',sep='|',names=['movie_id','movie_title','release_date','video_release_date','IMDb_URL','unknown','Action','Adventure','Animation','Children','Comedy','Crime','Documentary','Drama','Fantasy','Film_Noir','Horror','Musical','Mystery','Romance','Sci_Fi','Thriller','War','Western'],encoding='latin-1')

In [339]:
movieinfo.drop(['movie_title','release_date','video_release_date','IMDb_URL'],axis=1,inplace=True)

In [340]:
rating

        user_id  movie_id  movie_frequency  user_frequency         c  target
0           196       242              117              39  1.000000       1
1           186       302              297              92  1.000000       1
2            22       377               13             128  1.000000       1
3           244        51               81             238  1.000000       1
4           166       346              126              20  1.000000       1
...         ...       ...              ...             ...       ...     ...
248176      941       378              101              22  0.041916       0
248177      941      1078               22              22  0.019563       0
248178      941       823               82              22  0.037768       0
248179      941       539               44              22  0.027666       0
248180      941       394               12              22  0.014448       0

[248181 rows x 6 columns]

In [358]:
rating

,user_id,movie_id,movie_frequency,user_frequency,c,target,genre
0,196,242,117,39,1.000000,1,Children
1,186,302,297,92,1.000000,1,Drama
2,22,377,13,128,1.000000,1,Drama
3,244,51,81,238,1.000000,1,Drama
4,166,346,126,20,1.000000,1,Comedy
...,...,...,...,...,...,...,...
248176,941,378,101,22,0.041916,0,Horror
248177,941,1078,22,22,0.019563,0,Comedy
248178,941,823,82,22,0.037768,0,Comedy
248179,941,539,44,22,0.027666,0,Action
248180,941,394,12,22,0.014448,0,Comedy

In [341]:
movieinfoadded=pd.merge(rating,movieinfo,on='movie_id',how='left')

In [360]:
userinfoadded=pd.merge(rating,userinfo,on='user_id',how='left')

In [362]:
userinfoadded.to_csv('userinfoadded.csv')

In [367]:
pd.get_dummies(columns=['genre'],data=userinfoadded)

,user_id,movie_id,movie_frequency,user_frequency,c,target,age,gender,occupation_administrator,occupation_artist,...,genre_Film_Noir,genre_Horror,genre_Musical,genre_Mystery,genre_Romance,genre_Sci_Fi,genre_Thriller,genre_War,genre_Western,genre_unknown
0,196,242,117,39,1.000000,1,49,1,False,False,...,False,False,False,False,False,False,False,False,False,False
1,186,302,297,92,1.000000,1,39,0,False,False,...,False,False,False,False,False,False,False,False,False,False
2,22,377,13,128,1.000000,1,25,1,False,False,...,False,False,False,False,False,False,False,False,False,False
3,244,51,81,238,1.000000,1,28,1,False,False,...,False,False,False,False,False,False,False,False,False,False
4,166,346,126,20,1.000000,1,47,1,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248176,941,378,101,22,0.041916,0,20,1,False,False,...,False,True,False,False,False,False,False,False,False,False
248177,941,1078,22,22,0.019563,0,20,1,False,False,...,False,False,False,False,False,False,False,False,False,False
248178,941,823,82,22,0.037768,0,20,1,False,False,...,False,False,False,False,False,False,False,False,False,False
248179,941,539,44,22,0.027666,0,20,1,False,False,...,False,False,False,False,False,False,False,False,False,False
248180,941,394,12,22,0.014448,0,20,1,False,False,...,False,False,False,False,False,False,False,False,False,False

In [350]:
userinfoadded.to_csv('original.csv')

In [343]:
data_one_hot=pd.get_dummies(columns=['user_id','movie_id'],data=userinfoadded)

In [364]:
for i in data_one_hot.columns:
    print(i)

movie_frequency
user_frequency
c
target
unknown
Action
Adventure
Animation
Children
Comedy
Crime
Documentary
Drama
Fantasy
Film_Noir
Horror
Musical
Mystery
Romance
Sci_Fi
Thriller
War
Western
age
gender
occupation_administrator
occupation_artist
occupation_doctor
occupation_educator
occupation_engineer
occupation_entertainment
occupation_executive
occupation_healthcare
occupation_homemaker
occupation_lawyer
occupation_librarian
occupation_marketing
occupation_none
occupation_other
occupation_programmer
occupation_retired
occupation_salesman
occupation_scientist
occupation_student
occupation_technician
occupation_writer
user_id_1
user_id_2
user_id_3
user_id_4
user_id_5
user_id_6
user_id_7
user_id_8
user_id_9
user_id_10
user_id_11
user_id_12
user_id_13
user_id_14
user_id_15
user_id_16
user_id_17
user_id_18
user_id_19
user_id_20
user_id_21
user_id_22
user_id_23
user_id_24
user_id_25
user_id_26
user_id_27
user_id_28
user_id_29
user_id_30
user_id_31
user_id_32
user_id_33
user_id_34
user_id_35
user_id_36
user_id_37
user_id_38
user_id_39
user_id_40
user_id_41
user_id_42
user_id_43
user_id_44
user_id_45
user_id_46
user_id_47
user_id_48
user_id_49
user_id_50
user_id_51
user_id_52
user_id_53
user_id_54
user_id_55
user_id_56
user_id_57
user_id_58
user_id_59
user_id_60
user_id_61
user_id_62
user_id_63
user_id_64
user_id_65
user_id_66
user_id_67
user_id_68
user_id_69
user_id_70
user_id_71
user_id_72
user_id_73
user_id_74
user_id_75
user_id_76
user_id_77
user_id_78
user_id_79
user_id_80
user_id_81
user_id_82
user_id_83
user_id_84
user_id_85
user_id_86
user_id_87
user_id_88
user_id_89
user_id_90
user_id_91
user_id_92
user_id_93
user_id_94
user_id_95
user_id_96
user_id_97
user_id_98
user_id_99
user_id_100
user_id_101
user_id_102
user_id_103
user_id_104
user_id_105
user_id_106
user_id_107
user_id_108
user_id_109
user_id_110
user_id_111
user_id_112
user_id_113
user_id_114
user_id_115
user_id_116
user_id_117
user_id_118
user_id_119
user_id_120
user_id_121
user_id_122
user_id_123
user_id_124
user_id_125
user_id_126
user_id_127
user_id_128
user_id_129
user_id_130
user_id_131
user_id_132
user_id_133
user_id_134
user_id_135
user_id_136
user_id_137
user_id_138
user_id_139
user_id_140
user_id_141
user_id_142
user_id_143
user_id_144
user_id_145
user_id_146
user_id_147
user_id_148
user_id_149
user_id_150
user_id_151
user_id_152
user_id_153
user_id_154
user_id_155
user_id_156
user_id_157
user_id_158
user_id_159
user_id_160
user_id_161
user_id_162
user_id_163
user_id_164
user_id_165
user_id_166
user_id_167
user_id_168
user_id_169
user_id_170
user_id_171
user_id_172
user_id_173
user_id_174
user_id_175
user_id_176
user_id_177
user_id_178
user_id_179
user_id_180
user_id_181
user_id_182
user_id_183
user_id_184
user_id_185
user_id_186
user_id_187
user_id_188
user_id_189
user_id_190
user_id_191
user_id_192
user_id_193
user_id_194
user_id_195
user_id_196
user_id_197
user_id_198
user_id_199
user_id_200
user_id_201
user_id_202
user_id_203
user_id_204
user_id_205
user_id_206
user_id_207
user_id_208
user_id_209
user_id_210
user_id_211
user_id_212
user_id_213
user_id_214
user_id_215
user_id_216
user_id_217
user_id_218
user_id_219
user_id_220
user_id_221
user_id_222
user_id_223
user_id_224
user_id_225
user_id_226
user_id_227
user_id_228
user_id_229
user_id_230
user_id_231
user_id_232
user_id_233
user_id_234
user_id_235
user_id_236
user_id_237
user_id_238
user_id_239
user_id_240
user_id_241
user_id_242
user_id_243
user_id_244
user_id_245
user_id_246
user_id_247
user_id_248
user_id_249
user_id_250
user_id_251
user_id_252
user_id_253
user_id_254
user_id_255
user_id_256
user_id_257
user_id_258
user_id_259
user_id_260
user_id_261
user_id_262
user_id_263
user_id_264
user_id_265
user_id_266
user_id_267
user_id_268
user_id_269
user_id_270
user_id_271
user_id_272
user_id_273
user_id_274
user_id_275
user_id_276
user_id_277
user_id_278
user_id_279
user_id_280
user_id_281
user_id_282
user_id_283
user_id_284
user_id_285
user_id_286
user_id_287
user_id_288
user_id_289
user_id_290
user_id_291
user_id_292
user_id_293
user_id_294
user_id_295
user_id_296
user_id_297
user_id_298
user_id_299
user_id_300
user_id_301
user_id_302
user_id_303
user_id_304
user_id_305
user_id_306
user_id_307
user_id_308
user_id_309
user_id_310
user_id_311
user_id_312
user_id_313
user_id_314
user_id_315
user_id_316
user_id_317
user_id_318
user_id_319
user_id_320
user_id_321
user_id_322
user_id_323
user_id_324
user_id_325
user_id_326
user_id_327
user_id_328
user_id_329
user_id_330
user_id_331
user_id_332
user_id_333
user_id_334
user_id_335
user_id_336
user_id_337
user_id_338
user_id_339
user_id_340
user_id_341
user_id_342
user_id_343
user_id_344
user_id_345
user_id_346
user_id_347
user_id_348
user_id_349
user_id_350
user_id_351
user_id_352
user_id_353
user_id_354
user_id_355
user_id_356
user_id_357
user_id_358
user_id_359
user_id_360
user_id_361
user_id_362
user_id_363
user_id_364
user_id_365
user_id_366
user_id_367
user_id_368
user_id_369
user_id_370
user_id_371
user_id_372
user_id_373
user_id_374
user_id_375
user_id_376
user_id_377
user_id_378
user_id_379
user_id_380
user_id_381
user_id_382
user_id_383
user_id_384
user_id_385
user_id_386
user_id_387
user_id_388
user_id_389
user_id_390
user_id_391
user_id_392
user_id_393
user_id_394
user_id_395
user_id_396
user_id_397
user_id_398
user_id_399
user_id_400
user_id_401
user_id_402
user_id_403
user_id_404
user_id_405
user_id_406
user_id_407
user_id_408
user_id_409
user_id_410
user_id_411
user_id_412
user_id_413
user_id_414
user_id_415
user_id_416
user_id_417
user_id_418
user_id_419
user_id_420
user_id_421
user_id_422
user_id_423
user_id_424
user_id_425
user_id_426
user_id_427
user_id_428
user_id_429
user_id_430
user_id_431
user_id_432
user_id_433
user_id_434
user_id_435
user_id_436
user_id_437
user_id_438
user_id_439
user_id_440
user_id_441
user_id_442
user_id_443
user_id_444
user_id_445
user_id_446
user_id_447
user_id_448
user_id_449
user_id_450
user_id_451
user_id_452
user_id_453
user_id_454
user_id_455
user_id_456
user_id_457
user_id_458
user_id_459
user_id_460
user_id_461
user_id_462
user_id_463
user_id_464
user_id_465
user_id_466
user_id_467
user_id_468
user_id_469
user_id_470
user_id_471
user_id_472
user_id_473
user_id_474
user_id_475
user_id_476
user_id_477
user_id_478
user_id_479
user_id_480
user_id_481
user_id_482
user_id_483
user_id_484
user_id_485
user_id_486
user_id_487
user_id_488
user_id_489
user_id_490
user_id_491
user_id_492
user_id_493
user_id_494
user_id_495
user_id_496
user_id_497
user_id_498
user_id_499
user_id_500
user_id_501
user_id_502
user_id_503
user_id_504
user_id_505
user_id_506
user_id_507
user_id_508
user_id_509
user_id_510
user_id_511
user_id_512
user_id_513
user_id_514
user_id_515
user_id_516
user_id_517
user_id_518
user_id_519
user_id_520
user_id_521
user_id_522
user_id_523
user_id_524
user_id_525
user_id_526
user_id_527
user_id_528
user_id_529
user_id_530
user_id_531
user_id_532
user_id_533
user_id_534
user_id_535
user_id_536
user_id_537
user_id_538
user_id_539
user_id_540
user_id_541
user_id_542
user_id_543
user_id_544
user_id_545
user_id_546
user_id_547
user_id_548
user_id_549
user_id_550
user_id_551
user_id_552
user_id_553
user_id_554
user_id_555
user_id_556
user_id_557
user_id_558
user_id_559
user_id_560
user_id_561
user_id_562
user_id_563
user_id_564
user_id_565
user_id_566
user_id_567
user_id_568
user_id_569
user_id_570
user_id_571
user_id_572
user_id_573
user_id_574
user_id_575
user_id_576
user_id_577
user_id_578
user_id_579
user_id_580
user_id_581
user_id_582
user_id_583
user_id_584
user_id_585
user_id_586
user_id_587
user_id_588
user_id_589
user_id_590
user_id_591
user_id_592
user_id_593
user_id_594
user_id_595
user_id_596
user_id_597
user_id_598
user_id_599
user_id_600
user_id_601
user_id_602
user_id_603
user_id_604
user_id_605
user_id_606
user_id_607
user_id_608
user_id_609
user_id_610
user_id_611
user_id_612
user_id_613
user_id_614
user_id_615
user_id_616
user_id_617
user_id_618
user_id_619
user_id_620
user_id_621
user_id_622
user_id_623
user_id_624
user_id_625
user_id_626
user_id_627
user_id_628
user_id_629
user_id_630
user_id_631
user_id_632
user_id_633
user_id_634
user_id_635
user_id_636
user_id_637
user_id_638
user_id_639
user_id_640
user_id_641
user_id_642
user_id_643
user_id_644
user_id_645
user_id_646
user_id_647
user_id_648
user_id_649
user_id_650
user_id_651
user_id_652
user_id_653
user_id_654
user_id_655
user_id_656
user_id_657
user_id_658
user_id_659
user_id_660
user_id_661
user_id_662
user_id_663
user_id_664
user_id_665
user_id_666
user_id_667
user_id_668
user_id_669
user_id_670
user_id_671
user_id_672
user_id_673
user_id_674
user_id_675
user_id_676
user_id_677
user_id_678
user_id_679
user_id_680
user_id_681
user_id_682
user_id_683
user_id_684
user_id_685
user_id_686
user_id_687
user_id_688
user_id_689
user_id_690
user_id_691
user_id_692
user_id_693
user_id_694
user_id_695
user_id_696
user_id_697
user_id_698
user_id_699
user_id_700
user_id_701
user_id_702
user_id_703
user_id_704
user_id_705
user_id_706
user_id_707
user_id_708
user_id_709
user_id_710
user_id_711
user_id_712
user_id_713
user_id_714
user_id_715
user_id_716
user_id_717
user_id_718
user_id_719
user_id_720
user_id_721
user_id_722
user_id_723
user_id_724
user_id_725
user_id_726
user_id_727
user_id_728
user_id_729
user_id_730
user_id_731
user_id_732
user_id_733
user_id_734
user_id_735
user_id_736
user_id_737
user_id_738
user_id_739
user_id_740
user_id_741
user_id_742
user_id_743
user_id_744
user_id_745
user_id_746
user_id_747
user_id_748
user_id_749
user_id_750
user_id_751
user_id_752
user_id_753
user_id_754
user_id_755
user_id_756
user_id_757
user_id_758
user_id_759
user_id_760
user_id_761
user_id_762
user_id_763
user_id_764
user_id_765
user_id_766
user_id_767
user_id_768
user_id_769
user_id_770
user_id_771
user_id_772
user_id_773
user_id_774
user_id_775
user_id_776
user_id_777
user_id_778
user_id_779
user_id_780
user_id_781
user_id_782
user_id_783
user_id_784
user_id_785
user_id_786
user_id_787
user_id_788
user_id_789
user_id_790
user_id_791
user_id_792
user_id_793
user_id_794
user_id_795
user_id_796
user_id_797
user_id_798
user_id_799
user_id_800
user_id_801
user_id_802
user_id_803
user_id_804
user_id_805
user_id_806
user_id_807
user_id_808
user_id_809
user_id_810
user_id_811
user_id_812
user_id_813
user_id_814
user_id_815
user_id_816
user_id_817
user_id_818
user_id_819
user_id_820
user_id_821
user_id_822
user_id_823
user_id_824
user_id_825
user_id_826
user_id_827
user_id_828
user_id_829
user_id_830
user_id_831
user_id_832
user_id_833
user_id_834
user_id_835
user_id_836
user_id_837
user_id_838
user_id_839
user_id_840
user_id_841
user_id_842
user_id_843
user_id_844
user_id_845
user_id_846
user_id_847
user_id_848
user_id_849
user_id_850
user_id_851
user_id_852
user_id_853
user_id_854
user_id_855
user_id_856
user_id_857
user_id_858
user_id_859
user_id_860
user_id_861
user_id_862
user_id_863
user_id_864
user_id_865
user_id_866
user_id_867
user_id_868
user_id_869
user_id_870
user_id_871
user_id_872
user_id_873
user_id_874
user_id_875
user_id_876
user_id_877
user_id_878
user_id_879
user_id_880
user_id_881
user_id_882
user_id_883
user_id_884
user_id_885
user_id_886
user_id_887
user_id_888
user_id_889
user_id_890
user_id_891
user_id_892
user_id_893
user_id_894
user_id_895
user_id_896
user_id_897
user_id_898
user_id_899
user_id_900
user_id_901
user_id_902
user_id_903
user_id_904
user_id_905
user_id_906
user_id_907
user_id_908
user_id_909
user_id_910
user_id_911
user_id_912
user_id_913
user_id_914
user_id_915
user_id_916
user_id_917
user_id_918
user_id_919
user_id_920
user_id_921
user_id_922
user_id_923
user_id_924
user_id_925
user_id_926
user_id_927
user_id_928
user_id_929
user_id_930
user_id_931
user_id_932
user_id_933
user_id_934
user_id_935
user_id_936
user_id_937
user_id_938
user_id_939
user_id_940
user_id_941
user_id_942
user_id_943
movie_id_1
movie_id_2
movie_id_3
movie_id_4
movie_id_5
movie_id_6
movie_id_7
movie_id_8
movie_id_9
movie_id_10
movie_id_11
movie_id_12
movie_id_13
movie_id_14
movie_id_15
movie_id_16
movie_id_17
movie_id_18
movie_id_19
movie_id_20
movie_id_21
movie_id_22
movie_id_23
movie_id_24
movie_id_25
movie_id_26
movie_id_27
movie_id_28
movie_id_29
movie_id_30
movie_id_31
movie_id_32
movie_id_33
movie_id_34
movie_id_35
movie_id_36
movie_id_37
movie_id_38
movie_id_39
movie_id_40
movie_id_41
movie_id_42
movie_id_43
movie_id_44
movie_id_45
movie_id_46
movie_id_47
movie_id_48
movie_id_49
movie_id_50
movie_id_51
movie_id_52
movie_id_53
movie_id_54
movie_id_55
movie_id_56
movie_id_57
movie_id_58
movie_id_59
movie_id_60
movie_id_61
movie_id_62
movie_id_63
movie_id_64
movie_id_65
movie_id_66
movie_id_67
movie_id_68
movie_id_69
movie_id_70
movie_id_71
movie_id_72
movie_id_73
movie_id_74
movie_id_75
movie_id_76
movie_id_77
movie_id_78
movie_id_79
movie_id_80
movie_id_81
movie_id_82
movie_id_83
movie_id_84
movie_id_85
movie_id_86
movie_id_87
movie_id_88
movie_id_89
movie_id_90
movie_id_91
movie_id_92
movie_id_93
movie_id_94
movie_id_95
movie_id_96
movie_id_97
movie_id_98
movie_id_99
movie_id_100
movie_id_101
movie_id_102
movie_id_103
movie_id_104
movie_id_105
movie_id_106
movie_id_107
movie_id_108
movie_id_109
movie_id_110
movie_id_111
movie_id_112
movie_id_113
movie_id_114
movie_id_115
movie_id_116
movie_id_117
movie_id_118
movie_id_119
movie_id_120
movie_id_121
movie_id_122
movie_id_123
movie_id_124
movie_id_125
movie_id_126
movie_id_127
movie_id_128
movie_id_129
movie_id_130
movie_id_131
movie_id_132
movie_id_133
movie_id_134
movie_id_135
movie_id_136
movie_id_137
movie_id_138
movie_id_139
movie_id_140
movie_id_141
movie_id_142
movie_id_143
movie_id_144
movie_id_145
movie_id_146
movie_id_147
movie_id_148
movie_id_149
movie_id_150
movie_id_151
movie_id_152
movie_id_153
movie_id_154
movie_id_155
movie_id_156
movie_id_157
movie_id_158
movie_id_159
movie_id_160
movie_id_161
movie_id_162
movie_id_163
movie_id_164
movie_id_165
movie_id_166
movie_id_167
movie_id_168
movie_id_169
movie_id_170
movie_id_171
movie_id_172
movie_id_173
movie_id_174
movie_id_175
movie_id_176
movie_id_177
movie_id_178
movie_id_179
movie_id_180
movie_id_181
movie_id_182
movie_id_183
movie_id_184
movie_id_185
movie_id_186
movie_id_187
movie_id_188
movie_id_189
movie_id_190
movie_id_191
movie_id_192
movie_id_193
movie_id_194
movie_id_195
movie_id_196
movie_id_197
movie_id_198
movie_id_199
movie_id_200
movie_id_201
movie_id_202
movie_id_203
movie_id_204
movie_id_205
movie_id_206
movie_id_207
movie_id_208
movie_id_209
movie_id_210
movie_id_211
movie_id_212
movie_id_213
movie_id_214
movie_id_215
movie_id_216
movie_id_217
movie_id_218
movie_id_219
movie_id_220
movie_id_221
movie_id_222
movie_id_223
movie_id_224
movie_id_225
movie_id_226
movie_id_227
movie_id_228
movie_id_229
movie_id_230
movie_id_231
movie_id_232
movie_id_233
movie_id_234
movie_id_235
movie_id_236
movie_id_237
movie_id_238
movie_id_239
movie_id_240
movie_id_241
movie_id_242
movie_id_243
movie_id_244
movie_id_245
movie_id_246
movie_id_247
movie_id_248
movie_id_249
movie_id_250
movie_id_251
movie_id_252
movie_id_253
movie_id_254
movie_id_255
movie_id_256
movie_id_257
movie_id_258
movie_id_259
movie_id_260
movie_id_261
movie_id_262
movie_id_263
movie_id_264
movie_id_265
movie_id_266
movie_id_267
movie_id_268
movie_id_269
movie_id_270
movie_id_271
movie_id_272
movie_id_273
movie_id_274
movie_id_275
movie_id_276
movie_id_277
movie_id_278
movie_id_279
movie_id_280
movie_id_281
movie_id_282
movie_id_283
movie_id_284
movie_id_285
movie_id_286
movie_id_287
movie_id_288
movie_id_289
movie_id_290
movie_id_291
movie_id_292
movie_id_293
movie_id_294
movie_id_295
movie_id_296
movie_id_297
movie_id_298
movie_id_299
movie_id_300
movie_id_301
movie_id_302
movie_id_303
movie_id_304
movie_id_305
movie_id_306
movie_id_307
movie_id_308
movie_id_309
movie_id_310
movie_id_311
movie_id_312
movie_id_313
movie_id_314
movie_id_315
movie_id_316
movie_id_317
movie_id_318
movie_id_319
movie_id_320
movie_id_321
movie_id_322
movie_id_323
movie_id_324
movie_id_325
movie_id_326
movie_id_327
movie_id_328
movie_id_329
movie_id_330
movie_id_331
movie_id_332
movie_id_333
movie_id_334
movie_id_335
movie_id_336
movie_id_337
movie_id_338
movie_id_339
movie_id_340
movie_id_341
movie_id_342
movie_id_343
movie_id_344
movie_id_345
movie_id_346
movie_id_347
movie_id_348
movie_id_349
movie_id_350
movie_id_351
movie_id_352
movie_id_353
movie_id_354
movie_id_355
movie_id_356
movie_id_357
movie_id_358
movie_id_359
movie_id_360
movie_id_361
movie_id_362
movie_id_363
movie_id_364
movie_id_365
movie_id_366
movie_id_367
movie_id_368
movie_id_369
movie_id_370
movie_id_371
movie_id_372
movie_id_373
movie_id_374
movie_id_375
movie_id_376
movie_id_377
movie_id_378
movie_id_379
movie_id_380
movie_id_381
movie_id_382
movie_id_383
movie_id_384
movie_id_385
movie_id_386
movie_id_387
movie_id_388
movie_id_389
movie_id_390
movie_id_391
movie_id_392
movie_id_393
movie_id_394
movie_id_395
movie_id_396
movie_id_397
movie_id_398
movie_id_399
movie_id_400
movie_id_401
movie_id_402
movie_id_403
movie_id_404
movie_id_405
movie_id_406
movie_id_407
movie_id_408
movie_id_409
movie_id_410
movie_id_411
movie_id_412
movie_id_413
movie_id_414
movie_id_415
movie_id_416
movie_id_417
movie_id_418
movie_id_419
movie_id_420
movie_id_421
movie_id_422
movie_id_423
movie_id_424
movie_id_425
movie_id_426
movie_id_427
movie_id_428
movie_id_429
movie_id_430
movie_id_431
movie_id_432
movie_id_433
movie_id_434
movie_id_435
movie_id_436
movie_id_437
movie_id_438
movie_id_439
movie_id_440
movie_id_441
movie_id_442
movie_id_443
movie_id_444
movie_id_445
movie_id_446
movie_id_447
movie_id_448
movie_id_449
movie_id_450
movie_id_451
movie_id_452
movie_id_453
movie_id_454
movie_id_455
movie_id_456
movie_id_457
movie_id_458
movie_id_459
movie_id_460
movie_id_461
movie_id_462
movie_id_463
movie_id_464
movie_id_465
movie_id_466
movie_id_467
movie_id_468
movie_id_469
movie_id_470
movie_id_471
movie_id_472
movie_id_473
movie_id_474
movie_id_475
movie_id_476
movie_id_477
movie_id_478
movie_id_479
movie_id_480
movie_id_481
movie_id_482
movie_id_483
movie_id_484
movie_id_485
movie_id_486
movie_id_487
movie_id_488
movie_id_489
movie_id_490
movie_id_491
movie_id_492
movie_id_493
movie_id_494
movie_id_495
movie_id_496
movie_id_497
movie_id_498
movie_id_499
movie_id_500
movie_id_501
movie_id_502
movie_id_503
movie_id_504
movie_id_505
movie_id_506
movie_id_507
movie_id_508
movie_id_509
movie_id_510
movie_id_511
movie_id_512
movie_id_513
movie_id_514
movie_id_515
movie_id_516
movie_id_517
movie_id_518
movie_id_519
movie_id_520
movie_id_521
movie_id_522
movie_id_523
movie_id_524
movie_id_525
movie_id_526
movie_id_527
movie_id_528
movie_id_529
movie_id_530
movie_id_531
movie_id_532
movie_id_533
movie_id_534
movie_id_535
movie_id_536
movie_id_537
movie_id_538
movie_id_539
movie_id_540
movie_id_541
movie_id_542
movie_id_543
movie_id_544
movie_id_545
movie_id_546
movie_id_547
movie_id_548
movie_id_549
movie_id_550
movie_id_551
movie_id_552
movie_id_553
movie_id_554
movie_id_555
movie_id_556
movie_id_557
movie_id_558
movie_id_559
movie_id_560
movie_id_561
movie_id_562
movie_id_563
movie_id_564
movie_id_565
movie_id_566
movie_id_567
movie_id_568
movie_id_569
movie_id_570
movie_id_571
movie_id_572
movie_id_573
movie_id_574
movie_id_575
movie_id_576
movie_id_577
movie_id_578
movie_id_579
movie_id_580
movie_id_581
movie_id_582
movie_id_583
movie_id_584
movie_id_585
movie_id_586
movie_id_587
movie_id_588
movie_id_589
movie_id_590
movie_id_591
movie_id_592
movie_id_593
movie_id_594
movie_id_595
movie_id_596
movie_id_597
movie_id_598
movie_id_599
movie_id_600
movie_id_601
movie_id_602
movie_id_603
movie_id_604
movie_id_605
movie_id_606
movie_id_607
movie_id_608
movie_id_609
movie_id_610
movie_id_611
movie_id_612
movie_id_613
movie_id_614
movie_id_615
movie_id_616
movie_id_617
movie_id_618
movie_id_619
movie_id_620
movie_id_621
movie_id_622
movie_id_623
movie_id_624
movie_id_625
movie_id_626
movie_id_627
movie_id_628
movie_id_629
movie_id_630
movie_id_631
movie_id_632
movie_id_633
movie_id_634
movie_id_635
movie_id_636

In [351]:
data_one_hot.to_csv('original.csv')

In [345]:
data_one_hot.to_pickle('dataset/ml-100k/data_one_hot.pkl')